apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-model-deployment
  labels:
    app: ml-model
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ml-model
  template:
    metadata:
      labels:
        app: ml-model
    spec:
      containers:
      - name: ml-model-container
        image: jubair2002/plant-disease-detection:9fc60da
        ports:
        - containerPort: 8501
        resources:
          limits:
            cpu: 500m
          requests:
            cpu: 500m
